.ax_default {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._一级标题 {
  font-family:'微软雅黑';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'微软雅黑';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'微软雅黑';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'微软雅黑';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'微软雅黑';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'微软雅黑';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
._流程形状 {
}
._连接线 {
  font-size:16px;
}
.sticky_1 {
  text-align:left;
}
.refs-design-material {
  font-family:'Noto Sans CJK SC';
  font-weight:400;
  font-style:normal;
}
.box_1 {
}
.box_2 {
}
.ellipse {
}
.image {
}
.heading_1 {
  font-family:'微软雅黑';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'微软雅黑';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'微软雅黑';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.label {
  font-size:12px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.horizontal_line {
}
.refs-webm-wechat {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
.paragraph1 {
  text-align:left;
}
.line {
}
.text_link {
  color:#0000FF;
}
.text_link_mouse_over {
}
.text_link_mouse_down {
}
.heading_11 {
  font-family:'微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_21 {
  font-family:'微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.refs-design-apple {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
._图片 {
  color:#000000;
}
._形状 {
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:normal;
  font-style:normal;
  font-size:50px;
  color:#FFFFFF;
  text-align:center;
  line-height:normal;
}
.shape {
}
.image1 {
  color:#000000;
}
.placeholder {
}
.vertical_line {
}
.flow_shape {
}
.iconfont {
  font-family:'iconfont';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
._图片1 {
}
.box_21 {
}
.icon {
}
.label1 {
  font-size:14px;
  text-align:left;
}
.box_3 {
}
.button {
}
.line1 {
}
.arrow {
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.sticky_2 {
  text-align:left;
}
.box_11 {
}
.primary_button {
  color:#FFFFFF;
}
.sticky_3 {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.html_button {
  text-align:center;
}
.table_cell {
}
._形状1 {
}
.box_12 {
}
.line2 {
}
.label2 {
  font-size:14px;
  text-align:left;
}
.image2 {
}
